name: MLflow CI Training

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install MLflow
        run: pip install mlflow

      - name: Run MLflow Project
        run: mlflow run . --env-manager=local