 name: Run MLflow Project
 run: python -m mlflow run . --env-manager=local

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy

    - name: Run MLflow Project
      run: |
        python -m mlflow run .